{% extends 'CORE/index.html' %}

{% block INDEX_TITULO %}
Sobre nosotros
{% endblock %}

{% block INDEX_CONTENIDO %}
    <div class="text-center display-1 mb-5 mt-3">
        <h1>Alejandro Leiva Pimentel</h1>
        <h3>Ingeniero Industrial de la Universidad de Lima de Peru, actualmente tengo 24 años y me encuentro realizando un programa de intercambio en New York.
        La razon principal por la que decidi empezar a estudiar Python es para enfocar mi carrera al analisis de datos,
        ya que actualmente es un labor de alta demanda. considero que este curso me dio una nocion basica y conocimientos extras
        de front-end y back-end que se no pondre en practica pero de todas formas contribuye en la formacion como profesional
         y aumenta el entendimiento global de la herramienta y de lenguajes de proramacion adicionales
          </h3>
    </div>
{% endblock INDEX_CONTENIDO %}